/* FONTES */

@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Teko Regular:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';


@font-face {
	font-family: "Teko Regular";
	src: url("../fonts/Teko-Regular.ttf")
  }

  @font-face {
	font-family: "Oxygen Regular";
	src: url("../fonts/Oxygen-Regular.ttf")
  }

  /* TRANSIÇÃO ENTRE AS PÁGINAS */

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
	}
	@-moz-keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1; }
	}
	@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}
	@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}
	
	
	.fadeIn {
	-webkit-animation: fadeIn 3s ease;
	-moz-animation: fadeIn 3s ease;
	-o-animation: fadeIn 3s ease;
	animation: fadeIn 3s ease;
	}

	
/* TAGS E ELEMENTOS PRINCIPAIS*/

body{
	font-family: 'Lora', serif;
}

section {
	padding: 5% 20%;
	text-align: center;
}


section  h2{
	font-size: 3rem;
	font-weight: 400;
	color: #707070;
}


h1, h2, h3, h4, h5{
	font-family: 'Teko Regular', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #424242;
	margin-bottom: 35px;
	margin-top: 0;
}


.container {
	padding: 0 10%;
}


p{
	font-size: 16px;
	color: #707070;
	font-family: "Oxygen Regular", sans-serif;
}

a{
	transition: all 0.3s ease-in-out;
}


/* HEADER */

.header{
	background-image: url(../img/banner_topo.png);
	height: 100vh;
	position: relative;
	min-height: 659px;
}

.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

header {
	padding: 0 20%;
}

.page-wrap::before {
	transition: .3s all ease-in-out;
	content: "";
	position: absolute;
	/* z-index: 2000; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: visible;
}


.off-view .page-wrap::before {

	opacity: 0.5;
	visibility: visible;
	

}

/* MOBILE VIEW */

.mobile-view{
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	padding-top: 20px;
	background: white;
	height: calc(100vh);
	transform: translateX(110%);
	box-shadow: -10px 0	20px -10px rgba(0, 0, 0, 0.1);
	transition: .3s all ease-in-out;
}


.off-view .mobile-view {
	transform: translateX(0%);
}

.mobile-view .mobile-view-header {
	width: 100%;
	float: left;
	padding-left: 20px;	
	padding-right: 20px;
}


.mobile-view .mobile-view-header .mobile-view-close{
	float: right;
	margin-top: 8px;	
	margin-right: 10px;
}

.mobile-view .mobile-view-header .mobile-view-close i{
	font-size: 30px;
	display: inline-block;
	padding-right: 10px;
	line-height: 1;
	cursor: pointer;
	transition: .3s all ease;
}

.mobile-view .mobile-view-body {
	overflow: scroll;
	position: relative;
	padding: 20px;
	height: calc(100vh - 52px);
	padding-bottom: 150px;
	padding-top: 50px;


}

/* SEÇÃO NEWSLETTER */

.newsletter {
	background-color: #F4F4F4;
}


.newsletter h2{
	color: #44ACCF;
}


/* SEÇÃO COMPRE AGORA */

.compreAgora {
	background-image: linear-gradient(to right, #44ACD0 , #96BC4F);
}


.compreAgora h2, .compreAgora p {
	color: white
}

.compreAgora button {
	text-transform: uppercase;
	color: #44ACCF;
	width: 20%;
	margin-top: 2%;
	font-weight: ;
}

/* FORMULÁRIO */

.form-control option{
	color: #424242;
}
.form-control{
	border-radius: 0;
    font-size: 18px;
    font-style: italic;
    background-color: white;
    color: #424242;
    margin: 20px 0;
	border-color: #51c2b9;
}
.form-control:focus{
	border-color: #51c2b9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(81, 194, 185, 0.6);
}
.form-control::-webkit-input-placeholder {
	color: #707070;
	font-family: Oxygen Regular;
}
.form-control:-moz-placeholder { /* Firefox 18- */
	color: #707070;
	font-family: Oxygen Regular;  
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #707070;
	font-family: Oxygen Regular;  
}
.form-control:-ms-input-placeholder {  
	color: #707070;  
	font-family: Oxygen Regular;
}

.element .form-control::-webkit-input-placeholder {
    color: #424242;
}
.element .form-control:-moz-placeholder { /* Firefox 18- */
    color: #424242;  
}
.element .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #424242;  
}
.element .form-control:-ms-input-placeholder {  
    color: #424242;  
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    color: #44ACCF;
    text-transform: uppercase;
}




/* FOOTER */

.footer{
	background-color: #FFFFFF;
	text-align: left;
	padding:0;
}

.footer .row{
	    margin: 3% 0;
}

.footer span{
	color: #51c2b9;
}
.footer h4{
	
	color: #fff;
	padding-top: 4%;
    font-weight: 600;
}
.footer a{
	color: #fff;
}

.parceiros h5 , .menu-rodape h5 {
	color: #95BC50;
	font-family: Oxygen;
	font-size: 14px;
	padding: 13px 0;
}

.footer li {
	list-style-type: none;
	font-size: 21px;
	color: #747474;
}

.footer ul {
	padding-inline-start: 0px;
}

.parceiros h5 {
	text-align: right;
}

.menu-rodape h5 {
	text-align: left;
}


/* CAROUSEL HEADER */

.carousel-header-indicator {
	bottom: 15%;
}

.CarouselHeader {
	padding: 20% 0;
}

.quadradoHeader {
	display: block;
	text-align: center;
	padding: 26% 0;
}

.conhecaAgora {
	display: block;
	text-align: center;
	padding: 2% 0;
}

.quadradoHeader h3, .conhecaAgora a {
	color: #F4F4F4;
	text-transform: uppercase;
}

.quadradoHeader h3 {
	color: #F4F4F4;
	font-size: 3rem;
	text-transform: uppercase ;
}

.quadradoHeader div {
	font-weight: 200;
	margin: -13px 0;
}

.quadrado {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-image: none;
	border-style: solid;
	border-image: linear-gradient(to right,#44ACD0 , #96BC4F);
	border-image-slice: 1;
}


/* PRODUTOS HEADER */ 

.produtosHeader {
	margin: 10% 0;
}

@media (max-width: 768px) { 
	.produtosHeader {
		display: none;
	}
 }

 @media (min-width: 768px) { 
	.produtosHeaderMobile {
		display: none;
	}
 }

/* SEÇÃO SOBRE NÓS */ 

.sobreNos {
	margin: 4% 0;
}


/* CAROUSEL PRODUTOS ESTILOS */

  body .carousel-indicators li{
	background-color:red;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
	background-color:red;
  }
  .carousel-control-next {
    right: -12%;
}
.carousel-control-prev {
    left: -12%;
}
