/* FONTES */

@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Teko Regular:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';


@font-face {
	font-family: "Teko Regular";
	src: url("../fonts/Teko-Regular.ttf")
  }

  @font-face {
	font-family: "Oxygen Regular";
	src: url("../fonts/Oxygen-Regular.ttf")
  }

  /* TRANSIÇÃO ENTRE AS PÁGINAS */

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; } 
	}
	@-moz-keyframes fadeIn {
	0% { opacity: 0;}
	100% { opacity: 1; }
	}
	@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}
	@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}
	
	
	.fadeIn {
	-webkit-animation: fadeIn 3s ease;
	-moz-animation: fadeIn 3s ease;
	-o-animation: fadeIn 3s ease;
	animation: fadeIn 3s ease;
	}

	
/* TAGS E ELEMENTOS PRINCIPAIS*/

body{
	font-family: 'Lora', serif;
}

section {
	padding: 5% 20%;
	text-align: center;
}


h1, h2, h3, h4, h5{
	font-family: 'Teko Regular', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #424242;
	margin-bottom: 35px;
	margin-top: 0;
}


.container {
	padding: 0 10%;
}


p{
	font-size: 16px;
	color: #707070;
	font-family: "Oxygen Regular", sans-serif;
}

a{
	transition: all 0.3s ease-in-out;
}


/* NAV BAR */
.navbar-ubutia{
	background-image: none;
	background-color: #131212ba;
	margin-bottom: 0;
	border-radius: 0;
	border-color: transparent;
	transition: all 0.3s ease-in-out;
}

.nav {
	display: inline-flex;
}

/* NAVEGAÇÃO */

#menu-item{
	transition: all 0.3s ease-in-out;
}
.menu-item{
	background-color: #1a1a1a;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
.menu-item ul{
	padding-left: 0;
	margin-bottom: 0;
}
.menu-item ul a li{
	padding: 15px 0;
	list-style-type: none;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-item ul a:hover li{
	color: #51c2b9;
	text-decoration: none;
}
.hide-menu{
	margin-top: -377px;
}
.show-menu{
	margin-top: 0;
}
.dark-bar{
	background-color: #424242;
	background-image: none;
}


/* ELEMENTOS DA NAVEGAÇÃO */

.element .navigation-bar{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.element .navigation-bar a{
	color: #424242;
	font-family: 'Teko Regular', sans-serif;
	font-size: 21px;

}

.navigation-bar a {
	color: #FFFFFF;
	font-family: 'Teko Regular', sans-serif;
	font-size: 21px;
}


/* HEADER */

.header{
	background-image: url(../img/banner_topo.png);
	height: 100vh;
	position: relative;
	min-height: 659px;
}

.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

header {
	padding: 0 20%;
}


/* FORMULÁRIO */

.form-control option{
	color: #424242;
}
.form-control{
	border-radius: 0;
	padding: 25px;
    font-size: 18px;
    font-style: italic;
    background-color: transparent;
    color: #424242;
    margin-bottom: 30px;
	border-color: #51c2b9;
}
.form-control:focus{
	border-color: #51c2b9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(81, 194, 185, 0.6);
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;  
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
}
.form-control:-ms-input-placeholder {  
    color: #fff;  
}

.element .form-control::-webkit-input-placeholder {
    color: #424242;
}
.element .form-control:-moz-placeholder { /* Firefox 18- */
    color: #424242;  
}
.element .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #424242;  
}
.element .form-control:-ms-input-placeholder {  
    color: #424242;  
}

/* FOOTER */

.footer{
	background-color: #202020;
	text-align: center;
	padding:0;
}

.footer .row{
	    margin: 3% 0;
}

.footer span{
	color: #51c2b9;
}
.footer h4{
	
	color: #fff;
	padding-top: 4%;
    font-weight: 600;
}
.footer a{
	color: #fff;
}


 /* CAROUSEL HEADER */

 .quadrado{
	width:100%;
	height:auto;
	height: 200px; 
	width: 200px; 
	background-color: black; 
	margin: 0 auto;
  }

  #CarouselHeader {
	  padding: 20% 0;
  }

/* CAROUSEL SLIDES */

.col-md-4{
	display: inline-block;
	margin-left:-4px;
  }
  .col-md-4 img{
	width:100%;
	height:auto;
  }



  body .carousel-indicators li{
	background-color:red;
  }
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
	background-color:red;
  }
  body .no-padding{
	padding-left: 0;
	padding-right: 0;
  }